.container {
  width: 320px;
  margin: 0 auto;
}

@media @tablet-widths {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media @desktop-widths {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
