.contest-form__check {
  background-color: @color-fon-grey;
  border: none;
}


.contest-form__label {
  display: block;
  color: @color-pink;
  text-transform: uppercase;

}


.contest-form__btn {
  background-color: @color-green;
}
