.download {
  background-color: @color-dark-blue;
  color: @color-white;
  padding-top: 28px;
  padding-bottom: 27px;
}

.download__wrap {
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.download__btn {
  margin-bottom: 30px;
  display: block;
  padding: 13px 0;
  .font-bold-18;
  text-align: center;
  color: @color-white;
  text-decoration: none;
  border: 3px solid @color-white;
  border-radius: 70px;
  &:hover {
    background-color: @color-white;
    color: @color-pink;
  }
  &:active {
    color: @color-pink-30;
  }
}

.download__link {
  height: 60px; //временно
  outline: 3px solid rgba(155, 145, 82, 0.9); //временно
  outline-offset: -3px; //временно

  text-align: center;
  margin-bottom: 22px;
}

.download__text {
  text-align: center;
  margin: 0;
}

.download__title {
  display: none;
}

@media @tablet-widths {
  .download {
    background-color: transparent;
  }

  .download__wrap {
    padding-left: 40px;
    min-width: 300px;
  }

  .download__title {
    display: block;
    .font-light-24;
    font-size: 40px;
    text-align: center;
    line-height: 48px;
    padding-bottom: 38px;
    margin: 0;
  }

  .download__btn {
    margin-bottom: 40px;
  }

  .download__link {
    margin-bottom: 38px;
  }

  .download__text {
    font-size: 18px;
    padding-bottom: 20px;
  }
}


@media @desktop-widths {
  .download {
    margin: 0 auto;
  }

  .download__title {
    font-size: 50px;
    line-height: 60px;
  }

  .download__btn {
    font-size: 21px;
  }
}
