.feedback {
  .container;
}


.feedback__item:nth-child(n+2) {
  display: none;
}

.feedback__item {
  text-align: center;
  margin: 20px;
}



.feedback__name {

  font-weight: bold;
  font-style:normal;

  font-size: 18px;
}
