.feedback {
  padding-top: 45px;
  padding-bottom: 75px;
}

.feedback__item:nth-child(n+2) {
  display: none;
}

.feedback__item {
  text-align: center;
  margin: 0;
  padding: 0 20px;
}

.feedback__name {
  font-style:normal;
  font-weight: bold;
  font-size: 18px;
}

.feedback__text {
  line-height: 30px;
}

.feedback__bio {
  display: none;
}

@media @tablet-widths {
  .feedback {
    padding-top: 45px;
    padding-bottom: 68px;
  }

  .feedback__item {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 40px;
  }

  .feedback__name {
    font-size: 20px;
  }

  .feedback__bio {
    padding-top: 10px;
    display: block;
  }

  .feedback__text {
    font-size: 18px;
    margin-bottom: 35px;
  }
}

@media @desktop-widths {
  .feedback {
    padding-bottom: 40px;
    padding-top: 167px;
  }

  .feedback__item {
    padding: 0 250px;
  }

  .feedback__name {
    font-size: 24px;
  }

  .feedback__text {
    margin-bottom: 40px;
  }

  .feedback__bio {
    font-size: 18px;
    padding-top: 9px;
  }

}
