.information {
  // .container;
  width: auto;
  background-color: @color-fon-grey;
}

.information__intro {
  background-color: @color-white;
  text-align: center;
  padding: 20px;
}

.information__title {
  font-weight: lighter;
  font-size: 24px;

}

.information__list {
  padding: 0;
}

.information__item {
  .list-style-none;
  text-align: center;
  padding: 10px;
}

.information__name {
  font-weight: bold;
  font-size: 18px;

  color: @color-black;
}
