// Пока не придумала, как сделать
// открытое меню в потоке


.main-menu {
  position: relative;
  background-color: @color-blue;
  color: @color-white;
}

.main-menu__top {
  position: relative;
  height: 66px;
  box-shadow:
    inset 0 -1px 0 0 @color-black,
    inset 0 1px 0 0 rgb(72, 84, 97);
}

.main-menu__logo {
  font-size: 0;
  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 0;
    width: 75px;
    height: 22px;
    background-image: url("../img/logo-pink-white-mobile.svg");
    background-repeat: no-repeat;
    background-position: left top;
  }
}

.main-menu__burger {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 5;
  display: block;
  width: 50px;
  height: 24px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.main-menu__list {
  .list-style-none;
}

.main-menu__item a {
  display: block;
  padding: 25px;
  margin: 0;
  text-align: center;
  color: @color-white;
  text-decoration: none;
  text-transform: uppercase;
  .font-bold-18;
  box-shadow:
    inset 0 -1px 0 0 @color-black,
    inset 0 1px 0 0 rgb(72, 84, 97);
  &:hover {
    color: @color-pink;
  }
  &:active {
    color: @color-pink-30;
  }
}

@media @mobile-tablet-widths-only {
  .main-menu--closed {
      background-color: @color-black-30;
      box-shadow: none;
  }

  .main-menu--closed .main-menu__burger::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 4px;
    background-color: @color-white;
    box-shadow: 0 10px 0 0 @color-white,
                0 20px 0 0 @color-white;
  }

  .main-menu--closed .main-menu__burger:hover::before {
    background-color: @color-pink;
    box-shadow: 0 10px 0 0 @color-pink,
                0 20px 0 0 @color-pink;
  }

  .main-menu--closed .main-menu__burger:active::before {
    background-color: @color-pink-30;
    box-shadow: 0 10px 0 0 @color-pink-30,
                0 20px 0 0 @color-pink-30;
  }

  .main-menu--opened .main-menu__burger {
    padding: 0;
    top: 30px;
    right: 25px;
    width: 24px;
    height: 24px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 5px;
      background-color: @color-white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: @color-pink;
    }

    &:active::before,
    &:active::after {
      background-color: @color-pink-30;
    }
  }

  .main-menu--nojs .main-menu__burger {
    display: none;
  }

  .main-menu--closed .main-menu__list {
    display: none;
  }
}

@media @desktop-widths {
  .main-menu {
    background-color: @color-black-30;
    display: flex;
    justify-content: space-between;
  }

  .main-menu__top {
    background-color: transparent;
    box-shadow: none;
    width: 100px;
    margin: 0;
  }

  .main-menu__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;


  }

  .main-menu__item a {
    text-transform: none;
    font-size: 18px;
    font-weight: normal;
  }



}
