.main-header {
  .clearfix;
  .container;
  // width: 280px;
  height: 462px;
  // margin: auto;
  // margin-top: 66px;
  // padding: 20px;
  // padding-top: 66px;
  background: @color-dark-blue url("/img/bg-back-mobile@1x.jpg") no-repeat center 66px;
}


.main-header__top {
    .clearfix;
}

.main-header__logo {
  display: none;
}

.main-header__menu-trigger {
  float: right;
}

.main-header__content {
  text-align: center;
}

.main-header__title {
  color: @color-white;
  font-weight: lighter;
  font-size: 24px;
}
