.main-header {
  background: @color-blue url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
  &--small {
    height: 237px;
  }
}

.main-header__img {
  height: 397px;
  margin: 0 auto;
  background: transparent url("../img/iphone-hand-mobile@1x.png") no-repeat bottom left;
}

.main-header__content {
  text-align: center;
}

.main-header__title {
  padding: 20px;
  color: @color-white;
  .font-light-24;
  text-align: center;
}

@media @tablet-widths {
  .main-header__bottom {
    display: flex;
    flex-direction: row-reverse;
    img {
      margin-left: -100px; //проба пера
    }
  }

  .main-header__top {
      height: 110px;
  }

  .main-header__title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 50px;
    line-height: 60px;
    padding-left: 25px;
    padding-right: 25px;
  }

}

@media @desktop-widths {
  .main-header__bottom {
    display: flex;
    // flex-direction: row-reverse;
    // justify-content: flex-end;
    // height: 740px;
  }


}
