.main-menu {
  background-color: @color-blue;
  color: @color-white;
// .container;


}

.main-menu__list {
  .list-style-none;

}

.main-menu__item {
  display: block;
  padding: 25px;
  text-align: center;
  a {
    color: @color-white;
    text-decoration: none;
    text-transform: uppercase;
    .font-bold-18;
    margin: 30px;
  }
}

.main-menu--hidden {
  // display: none;
}
