@color-dark-blue: rgb(29, 38, 49);
@color-grey: rgb(242, 242, 242);
@color-dark-grey: rgb(221, 223, 224);
// @color-text-blue: rgb(40, 54, 69);
@color-pink: rgb(210, 40, 86);
@color-pink-30: rgba(210, 40, 86, 0.3);
// @color-tariff-header-blue: rgb(40, 54, 69);
@color-green: rgb(42, 171, 109);
@color-white: rgb(255, 255, 255);
@color-blue: rgb(40, 54, 69);
@color-black: rgb(0, 0, 0);

@mobile-tablet-widths-only: ~"(max-width: 1199px)";
@tablet-widths: ~"(min-width: 700px)";
@desktop-widths: ~"(min-width: 1200px)";
