.photo-upload__intro {
  padding: 20px 20px 40px 20px;
  margin: 0;
  text-align: center;
  line-height: 30px;
}

.photo-upload__wrap {
  padding: 20px;
  background-color: @color-grey;
}

.photo-upload__img img {
  width: 280px;
  height: 374px;
}

.photo-upload__btn {
  width: 280px;
  margin-bottom: 20px;
  padding: 13px 35px;
  .font-bold-18;
  text-align: center;
  color: @color-pink;
  background-color: @color-grey;
  text-decoration: none;
  border: 3px solid @color-pink;
  border-radius: 70px;
  &--cancel {
    color: @color-dark-grey;
    border-color: @color-dark-grey;
  }
}

.photo-upload__edit {
  height: 317px; //временно
  outline: 3px solid rgba(155, 145, 82, 0.9); //временно
  outline-offset: -3px; //временно
}

@media @tablet-widths {
  .photo-upload__wrap {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 56px;
  }

  .photo-upload__intro {
    padding-top: 45px;
    padding-bottom: 70px;
    font-size: 18px;
    line-height: 30px;
  }

  .photo-upload__img {
    padding-right: 48px;
    img {
      width: 300px;
      height: 400px;
    }
  }
}


@media @desktop-widths {
  .photo-upload__wrap {
    width: 780px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 56px;
    padding-bottom: 50px;
  }


}
