.photo-upload__intro {
  padding: 24px 20px 40px 20px;
  text-align: center;
  line-height: 30px;
}

.photo-upload__wrap {
  padding: 20px;
  background-color: @color-grey;
}

.photo-upload__img {
  width: 280px;
  height: 374px;
}

.photo-upload__btn {
  width: 280px;
  margin-bottom: 20px;
  padding: 13px 35px;
  .font-bold-18;
  text-align: center;
  color: @color-pink;
  background-color: @color-grey;
  text-decoration: none;
  border: 3px solid @color-pink;
  border-radius: 70px;
  &--cancel {
    color: @color-dark-grey;
    border-color: @color-dark-grey;
  }
}

.photo-upload__edit {
  height: 317px; //временно
  outline: 3px solid rgba(155, 145, 82, 0.9); //временно
  outline-offset: -3px; //временно
}

@media @tablet-widths {
  .photo-upload__wrap {
    display: flex;
  }
}
