.photo-block {
  width: 280px;
  margin: 0 auto;
  background-color: @color-fon-grey;
}

.photo-block__img--stretch {
  width: 320px;
  margin-left: -20px;

}

.photo-block__signature {
  margin: 20px;
}

.photo-block__name{
  font-weight: bold;
  font-style: normal;
}

.photo-block__time {
  text-transform: uppercase;
  font-size: 12px;
}

.photo-block__like {
  color: @color-pink;
  margin: 20px;
}
