.photo-block {
  background-color: @color-grey;
  // padding: 0;
}

.photo-block__img--stretch {
  padding: 0;
  margin-left: -20px;

}

.photo-block__signature {
  margin: 20px;
}

.photo-block__name{
  font-weight: bold;
  font-style: normal;
}

.photo-block__time {
  text-transform: uppercase;
  font-size: 12px;
}

.photo-block__like {
  color: @color-pink;
  margin: 20px;
}
