.contacts {
  .container;
  text-align: center;
  padding: 20px;
}

.contacts__intro {
  color: @color-dark-blue;
  font-weight: lighter;
  font-size: 24px;
}

.contacts__comm {
  color: @color-blue;
  font-size: 18px;
  font-weight: bold;
}

.contacts__text {
  color: @color-pink;
  font-size: 24px;
  font-weight: lighter;
}
