.contacts {
  text-align: center;
  padding-top: 44px;
}

.contacts__intro {
  display: block;
  color: @color-dark-blue;
  .font-light-24;
  line-height: 27px;
  margin-bottom: 37px;
}

.contacts__item {
  margin-bottom: 24px;
}

.contacts__comm {
  color: @color-blue;
  .font-bold-18;
  margin: 0;
}

.contacts__text {
  color: @color-pink;
  .font-light-24;
  margin: 0;
}

.contacts__map {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -150px;
    width: 596px;
    height: 62px;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat;
  }
  
  iframe {
    border: none;
    width: 320px;
    height: 200px;
  }
}


@media @tablet-widths {
  .contacts__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    width: 250px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }

  .contacts__intro {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 46px;
  }
}


@media @desktop-widths {
  .contacts__wrap {
    flex-wrap: nowrap;
  }

  .contacts__intro {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__item {
    min-width: 300px;
  }
}
